.group div:not(:last-child) {
  margin-bottom: 1em;
}

.arrow-up {
  width: 0;
  height: 0;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid red;
}

.arrow-down {
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid blue;
}

.arrow-left {
  width: 0;
  height: 0;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  border-right: 5px solid green;
}

.arrow-right {
  width: 0;
  height: 0;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  border-left: 5px solid orange;
}

.arrow-box {
  display: inline-block;
  position: relative;

  box-sizing: border-box;

  background-color: yellow;
  border: 0.5em solid orange;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  padding: 0.5em;
}

.arrow-box:after {
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid orange;
  position: absolute;
  top: 125%;
  left: calc(50% - 2.5px);
}

.tooltip-link {
  position: relative;
}

.tooltip-link .arrow-box {
  display: none;
}

.tooltip-link:hover .arrow-box {
  display: block;
  position: absolute;
  top: -315%;
}

.hover-section ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  list-style-type: none;
}

.hover-section li {
  flex-grow: 1;
  margin: 1%;
  text-align: center;
}

.hover-section a {
  display: block;
  padding: 10px;
  background: rgba(0, 0, 0, .1);
  text-decoration: none;
  position: relative;
}

.hover-section a:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: orange;
  height: 4px;
  transition-property: right;
  transition-duration: .4s;
  transition-timing-function: ease-out;
}

.hover-section a:hover:before, a:focus:before, a:active:before {
  right: 0;
}

:target {
  background: yellow;
}

.fake-input {
  -webkit-appearance: textfield;

  box-sizing: border-box;

  height: 1.7em;
  width: 20.2em;
  padding: 0.25em 0.1em;

  background-color: white;
  border: 1px solid lightgray;

  overflow: auto;

  margin-bottom: 1em;
}

.fake-textarea {
  -webkit-appearance: textarea;

  box-sizing: border-box;

  height: 3.7em;
  width: 20.2em;
  padding: 0.25em 0.1em;

  overflow: auto;

  background-color: white;
  border: 1px solid lightgray;
}

.centered {
  text-align: center;
  margin-bottom: -1rem;
}

.centered > * {
  display: inline-block;
  margin: 0 0.5rem 1rem;
}
